*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.main{
    max-width: 620px;
    width: 100%;
    padding-bottom: 20px;
}
.menu{
    margin: 0;
    padding: 10px;
    padding-top: 30px;
    
}
.menu-section{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    /* border: 2px solid #333; */
    box-shadow: 0px 4px 6px #3333339c;
    margin-bottom: 20px;
    place-items: center;
    /* object-fit: cover;
    object-position: center; */
    background-size: cover;
    background-position: center center;
    background-image: url('assets/img/food3.jpg');
    overflow: hidden;
    /* backdrop-filter: blur(12px); */
    /* filter: blur(3px); */
    
    

}
.menu-section img{
    position: relative;
    width: 110%;
    height: 110%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    /* background-size: cover;
    background-position: center; */ 
    /* filter: blur(12px);         */
    /* backdrop-filter: blur(24px);    */
}
.menu-section .addblurfilter{
    
    position: absolute; 
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(164, 164, 173); */
    /* backdrop-filter: blur(12px); */
    /* filter: blur(10px); */
    /* backdrop-filter: blur; */
    /* background-color: hsla(0, 0%, 0%, .2); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 50;
}
.menu-section .menu-name{
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 75;
    color: azure;
    width: 100%;
    height: 100%;
    place-items: center!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.fcard{
    max-width: 12em;
    width: 100%;
    /* max-height: 250px; */
    border-radius: 10px;
    background-color: rgb(245 245 245);
    padding-bottom: 20px;

}
.fimg{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.fimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.fdescription {
    padding: 0 10px;
    position: relative;
}
.fdescription .ftitle{
    font-size: 1.2rem;
    padding: 10px 0;
}
.fdescription .fprice{
    font-size: 1.2rem;
    text-align: center;
    place-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);

}
.fdescription .rate{
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(87, 87, 87);
}
.ftitle p{
    font-size: 0.8rem;
}
.list{            
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100%;
    padding: 10px;
    gap: 10px;
    /* display: flex; */
    /* justify-content: center;
    flex-wrap: wrap; */
    transition: right .5s;
    /* overflow: hidden; */
    overflow: auto;
    
}
.show{
    right: 0;
}
.row{
    position: relative;
    display: flex;
    width: 100%;
    gap: 20px;
    padding-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}
.hide{
    /* display: none; */
    right: 0;
}
#closeList{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 150;
    font-size: larger;
    max-width: 40px ;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(210, 210, 235);
}
@media screen and (max-width: 430px) {
    .ftitle{
        font-size: 0.8rem!important;
    }
    .fprice{
        font-size: 0.75rem!important;
    }
    .fcard{
        max-width: 9rem;
    }
}
.overflowHidden{
    overflow: hidden!important;
}
body{
    background-color: #008dd2;

}
.homeScreen{
    /* display: flex;
    justify-content: center; */
    width: 285px;
    margin: auto;
    height: 100vh;
    background-color: #008dd2;
    
}
.homeScreen .logo{
    max-width: 285px!important;
    width: 100%;
    padding: 10px;
    margin: auto;
    position: fixed;
    top: 50%;
    transition: right 2s;
    /* left: 50%!important; */
    transform: translate(0%, -50% );
    right: -300%;
}
.idk1{
    right: 0!important;
    left: 0!important;
    /* margin: unset!important; */
}
.marginUnset{
    margin: unset!important;
}
.homeScreen .logo img{
    width: 100%;
}
.homeScreen .logo .logText{
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.logButton{
    position: fixed;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%);
    /* background: transparent; */
    /* background-color: #008dd2; */
    color: #feffff;
    cursor: pointer;
    border-width: 4px;
    border-style: solid;
    border-radius: 50em;
    border: 4px solid transparent;
    padding: 10px;
    background: linear-gradient(#008dd2, #008dd2) padding-box,
      linear-gradient(to right, #f7e600, #feffff) border-box;
      box-shadow: 0px 2px 6px #333333c7;
    transition: bottom 1s;
    /* border-image: linear-gradient(white, white) padding-box, linear-gradient(to right, #f7e600, #ffffff) border-box; */
    
}
.logButtonShow{
    bottom: 60px!important;
}
.logButton span{
    background: linear-gradient(to right,#feffff, #f7e600);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0px 10px;
    font-size: 1rem;
    
}
/* @media screen and (max-width: 420px){
    .logButton span{
        font-size: 0.7rem;
    }
} */
/* @media screen and (max-width: 320px){
    .logButton{
        width: 80%;
    }
} */
